<!-- src/app/components/dashboard/dashboard.component.html -->
<div class="dashboard-container">
  <app-spinner *ngIf="isLoading"></app-spinner>

  <div *ngIf="error" class="error-container">
    <div class="error-message">
      {{ error }}
      <button class="retry-button" (click)="loadData()">Réessayer</button>
    </div>
  </div>

  <div *ngIf="!isLoading && !error">
    <app-period-selector
      [selectedPeriod]="selectedPeriod"
      (periodChange)="onPeriodChange($event)">
    </app-period-selector>

    <!-- Ajout du nouveau composant de performances -->
    <app-performance-dashboard
      [activities]="runningActivityData">
    </app-performance-dashboard>

    <div class="activity-type-container">
      <app-stats-list
        title="Run"
        [stats]="runningStats">
      </app-stats-list>

      <app-stats-list
        title="Walk"
        [stats]="walkingStats">
      </app-stats-list>

      <app-stats-list
        title="Bike"
        [stats]="bikingStats">
      </app-stats-list>

      <h2>Running</h2>
      <app-activity-chart
        [data]="runningActivityData"
        [period]="selectedPeriod">
      </app-activity-chart>

      <h2>Biking</h2>
      <app-activity-chart
        [data]="bikingActivityData"
        [period]="selectedPeriod">
      </app-activity-chart>
    </div>
  </div>
</div>
